* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aaafb5;
    line-height: 1.25;
}

.container {
    width: 80%;
    margin: auto;
}

.heading {
    text-align: center;
    margin-top: 20px;
}

img {
    width: 250px;
    height: auto;
    display: block;
    margin: 20px auto 20px ;
}

h2 {
    text-align: center;
    margin: 50px 0;
}

li {
    margin: 10px 0;
}